.body-content-4-content-1:nth-child(1):hover{
    animation: bannerout1 0.25s 1;
    background: url(../images/banner8.png)no-repeat;
    background-size: cover;
}

.body-content-4-content-1:nth-child(2):hover{
    animation: bannerout2 0.5s 1;
    background: url(../images/banner9.png)no-repeat;
    background-size: cover;
}

.body-content-4-content-1:nth-child(3):hover{
    animation: bannerout3 0.5s 1;
    background: url(../images/banner10.png)no-repeat;
    background-size: cover;
}

.body-content-4-content-1:nth-child(4):hover{
    animation: bannerout4 0.5s 1;
    background: url(../images/banner11.png)no-repeat;
    background-size: cover;
}

@keyframes bannerout1 {
    0%{
        opacity: 0;
        transform: scale(1);
        background: url(../images/banner8.png)no-repeat;
        background-size: cover;
    }
    25%{
        opacity: 0.25;
        background: url(../images/banner8.png)no-repeat;
        background-size: cover;
    }
    50%{
        opacity: 0.5;
        background: url(../images/banner8.png)no-repeat;
        background-size: cover;
    }
    75%{
        opacity: 0.75;
        background: url(../images/banner8.png)no-repeat;
        background-size: cover;
    }
    100%{
        opacity: 1;
        transform: scale(1);
        background: url(../images/banner8.png)no-repeat;
        background-size: cover;
    }
}

@keyframes bannerout2 {
    0%{
        opacity: 0;
        transform: scale(1);
        background: url(../images/banner9.png)no-repeat;
        background-size: cover;
    }
    25%{
        opacity: 0.25;
        background: url(../images/banner9.png)no-repeat;
        background-size: cover;
    }
    50%{
        opacity: 0.5;
        background: url(../images/banner9.png)no-repeat;
        background-size: cover;
    }
    75%{
        opacity: 0.75;
        background: url(../images/banner9.png)no-repeat;
        background-size: cover;
    }
    100%{
        opacity: 1;
        transform: scale(1);
        background: url(../images/banner9.png)no-repeat;
        background-size: cover;
    }
}

@keyframes bannerout3{
    0%{
        opacity: 0;
        transform: scale(1);
        background: url(../images/banner10.png)no-repeat;
        background-size: cover;
    }
    25%{
        opacity: 0.25;
        background: url(../images/banner10.png)no-repeat;
        background-size: cover;
    }
    50%{
        opacity: 0.5;
        background: url(../images/banner10.png)no-repeat;
        background-size: cover;
    }
    75%{
        opacity: 0.75;
        background: url(../images/banner10.png)no-repeat;
        background-size: cover;
    }
    100%{
        opacity: 1;
        transform: scale(1);
        background: url(../images/banner10.png)no-repeat;
        background-size: cover;
    }
}

@keyframes bannerout4 {
    0%{
        opacity: 0;
        transform: scale(1);
        background: url(../images/banner11.png)no-repeat;
        background-size: cover;
    }
    25%{
        opacity: 0.25;
        background: url(../images/banner11.png)no-repeat;
        background-size: cover;
    }
    50%{
        opacity: 0.5;
        background: url(../images/banner11.png)no-repeat;
        background-size: cover;
    }
    75%{
        opacity: 0.75;
        background: url(../images/banner11.png)no-repeat;
        background-size: cover;
    }
    100%{
        opacity: 1;
        transform: scale(1);
        background: url(../images/banner11.png)no-repeat;
        background-size: cover;
    }
}